<!-- Profile -->
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">Profil</div>
    <div class="panel-body">
      <div class="user-profil">
        <h5><span>Nom complet </span>{{user.nom}} {{user.prenom}}</h5>
        <h5><span>identifiant:</span> {{user.identifiant}}</h5>
        <h5><span>Date de naissance:</span> {{user.datedenaissance}}</h5>
        <h5><span>Email:</span> {{user.email}}</h5>
      </div>
    </div>
  </div>
</div>
