{{#if session.isAuthenticated}}
{{#admin-layout}}
  {{#form-user-add class="teacher" title="Nouveau enseignant"}}

    <div class="row">
      <div class="col-md-6">
        Identifiant: {{input type="text" value=identifier autofocus="autofocus" class="form-control input-form"
                             placeholder="Identifiant"}}
      </div>

      <div class="col-md-6">
        Nom: {{input type="text" value=lastname class="form-control input-form" placeholder="Nom"}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Prenom: {{input type="text" value=name class="form-control input-form" placeholder="Prenom"}}
      </div>

      <div class="col-md-6">
        Email  {{input type="email" value=mail class="form-control input-form" placeholder="Email"}}
      </div>
    </div>

    <button class="btn btn-primary btn-orange btn-add-data" {{action "saveTeacher" identifier lastname name mail}}>Sauvegarder
    </button>

  {{/form-user-add}}


  {{#user-list}}
    {{#each model as |teacher|}}

      <tr>
        <td>{{teacher.identifiant}}</td>
        <td>{{teacher.prenom}}</td>
        <td>{{teacher.nom}}</td>
        <td>{{teacher.email}}</td>
        <td>
          <button class="btn btn-primary btn-orange btn-sm" {{action 'deleteTeacher' teacher}}>Supprimer</button>
        </td>
      </tr>

    {{/each}}
  {{/user-list}}
{{/admin-layout}}
{{else}}
    jjjjjjjjj
    {{outlet}}
{{/if}}
