{{#admin-layout}}
  {{#form-user-add class="teacher" title="Nouveau etudiant"}}
    <div class="row">
      <div class="col-md-6">
        Identifiant: {{input type="text" value=identifier autofocus="autofocus" class="form-control input-form "
                             placeholder="Identifiant"}}
      </div>
      <div class="col-md-6">
        Nom: {{input type="text" value=lastname class="form-control input-form" placeholder="Nom"}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Prenom: {{input type="text" value=name class="form-control input-form" placeholder="Prenom"}}
      </div>
      <div class="col-md-6">
        Email  {{input type="email" value=mail class="form-control input-form" placeholder="Email"}}
      </div>
    </div>
    <button class="btn btn-primary btn-orange btn-add-data" {{action "saveStudent" identifier lastname name mail}}>Sauvegarder
    </button>

  {{/form-user-add}}

  {{#user-list}}
    {{#each model as |student|}}
      <tr>
        <td>{{student.identifiant}}</td>
        <td>{{student.prenom}}</td>
        <td>{{student.nom}}</td>
        <td>{{student.email}}</td>
        <td>
          <button class="btn btn-primary btn-orange btn-sm" {{action 'deleteStudent' student}}>Supprimer</button>
        </td>
        <td></td>
      </tr>
    {{/each}}
  {{/user-list}}

{{/admin-layout}}
