{{partial 'navbar'}}
<div class="login_page">
  <h3>Service d'Authentification</h3>
  <div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 connect_horizental">
      {{ input type="text" class="form-control" value=identifiant placeholder="Entrer votre identifiant." autofocus="autofocus" }}
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 connect_horizental">
      {{input type="password" class="form-control"  value=password placeholder="Entrer votre mot de passe." autofocus="autofocus"}}
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action 'verifyUser'}}>Se connecter</button>
    </div>
  </div>
  <img src="/assets/images/note.gif" class="image_login" />
  <p class="message_login">Pour des raisons de sécurité, veuillez vous déconnecter et fermer votre navigateur lorsque vous avez fini d'accéder
    aux services authentifiés.</p>


  {{#if responseMessage}}
    <div class="alert alert-danger">{{responseMessage}}</div>
  {{/if}}
</div>