<div class="container">
  <button class="btn btn-primary btn-lg btn-block"{{action 'logout'}}>Se deconnecter</button>

  {{#if isetudiant }}
    {{#each model.etudiants as |etudiant|}}

      {{user-profile user=etudiant}}

      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">Notes</div>
          <div class="panel-body notes_ue">
            {{#each etudiant.ues as |ue|}}

              <a class="ue" data-toggle="collapse" data-target="{{ue.id}}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{ue.nom}}(
                <b>{{ue.enseignant.nom}} {{ue.enseignant.prenom}} </b>)</a>

              {{#each etudiant.notes as |note|}}
                {{#if-equal param1=note.ue.id param2=ue.id}}

                  {{student-note note=note.cc1 title-note="Note CC1"}}
                  {{student-note note=note.cc2 title-note="Note CC2"}}
                  {{student-note note=note.ccf title-note="Note CCF"}}

                  {{student-average note=note}}

                {{/if-equal}}
              {{/each}}

            {{/each}}

            {{moyene-annee param1=etudiant.notes}}

          </div>
        </div>
      </div>
    {{/each}}

  {{/if}}
  {{#if isenseignant }}

    {{#each model.enseignants as |enseignant|}}

      {{user-profile user=enseignant}}

      <!-- Liste d'UEs -->

      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">UEs</div>
          <div class="panel-body notes_ue">
            {{#each enseignant.ues as |ue|}}

              <a class="ue" data-toggle="collapse" data-target="{{ue.id}}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{ue.nom}}
              </a>

              {{#each ue.etudiants as |etudiant|}}
                {{student-info etudiant=etudiant ue=ue action-note=(action 'saveNote')}}
              {{/each}}

            {{/each}}
          </div>
        </div>
      </div>

    {{/each}}

  {{/if}}
</div>
{{outlet}}
